/* ====== Background Color ====== */
body {
    background-color:#26282B;
    max-width:100%;
    margin: 0;
    padding: 0;
}

/* ====== Font Styles ====== */
p {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color:#f2f2f2;
    font-size:1.2rem;
    font-weight:100;
    text-align:center;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color:#5F85DB;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight:bolder;
    text-align: center;
    margin-right: 10em;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color:#f2f2f2;
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-weight:bold;
    text-align:center;
    margin-bottom:10px;
    margin-right: 12em;
    margin-top:-20px;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color:#f2f2f2;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-weight:bold;
    text-align: center;
    margin-bottom:10px;
}

h4 {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color:#f2f2f2;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-weight:bold;
    text-align: center;
    margin-bottom:10px;
}

h5 {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color:#5F85DB;
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-weight:bold;
    text-align:center;
    margin-bottom:10px;
    margin-top:-20px;
}

/* ====== Color of Font when hovering ====== */
a {
    color:#f2f2f2;


}
a:hover {
   color: #f2f2f2;
}

footer {
    color:#5F85DB;
}

/* ====== Title of Chirp Style  ====== */
ul {
    text-decoration:none;
    max-width:80%;
    margin:auto;
    padding:0;
}
    ul li {
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color:#f2f2f2;
    font-size: 1.2rem;
    font-weight:100;
    line-height:2.1em;
}
    ul li a {
        color:#5F85DB;
    }

/* ====== Profile Bar Styling ====== */
nav ul {
    display:flex;
    justify-content: flex-start;
    list-style:none;
    padding:0;
}

    nav ul li {
        margin-left:auto;
        margin-right:160px;
        margin-top:-2.1em;
    }

    nav ul li a {
        color:#f2f2f2;
    }

    /* ====== Button Styles ====== */
.createchirp, .home, .replytochirp, .save {
    background-color: #5F85DB;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-weight:bold;
    border-radius: 8px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:-20px;
    cursor: pointer;
    padding: 10px;
}
    .createchirp a:hover, .home a:hover, .replytochirp a:hover, .profile a:hover, .login a:hover, .save a:hover {
        color:#003092;
    }

.profile {
    align-items:right;
    background-color: #5F85DB;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-weight:bold;
    border-radius: 8px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:-20px;
    cursor: pointer;
    padding:3px 10px;
}

.login {
    align-items:right;
    background-color: #5F85DB;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-weight:bold;
    border-radius: 8px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top:-20px;
    cursor: pointer;
    padding:5px 10px;
}

input.save {
    background-color: #5F85DB;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-weight:bold;
    border-radius: 8px;
    border: none;
    color: white;
    align-content: center;
    text-decoration: none;
    margin-top:3em;
    margin-left:6em;
    cursor: pointer;
    padding: 3px 4px;
}

.createbutton {
    align-content:left;
    margin-right:2em;
}

.createmessage {
    align-content:left;
}

.profilebuttons {
    align-content:center;
    margin-right:4em;
}

.replymessage {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* ====== Form Styles ====== */
form input, form textarea, form select {
    outline: 1px solid #5F85DB;
    width: 60%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border:none;
}

form input:focus, form textarea:focus, form select:focus {
    outline: 2px solid #5F85DB;
}