{% extends "chirper/base.html" %}
{% block content %}
  <h5>{{ chirp.chirp_name }}</h5>
  <h3>{{ chirp.chirp_body }}</h3>
  <h3>posted by -> {{ chirp.user.username|default:"deleted_user" }}</h3>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

  


  {% for reply in chirp.replies.all %}
  
  <h4>{{ reply.chirp_body }}</h4>
  <h4>{{ reply.user.username }} -> {{ reply.chirp_name }}</h4>
  <br>
  
  {% endfor %}

  <br>
  <p>Likes: {{ chirp.like_set.count }}</p>

  <ul class="replymessage">
    <button class="replytochirp">
      <a href="{% url 'chirper:create_reply' chirp.id%}">Reply to this Chirp</a>
    </button>
  </ul>

  {% endblock %}


  
