{% extends "chirper/base.html" %}
{% block content %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

  <button class="profile" style="margin-left:1200px; ">
  {% if user.is_authenticated %}
  <a href="{% url 'chirper:profile' user.id %}">
    Profile
  </a>
  </button>

  
{% else %}
 
  <a href="{% url 'account_login' %}">
    Login
  </a>

{% endif %}

<br><br>

  <h2>Message Feed</h2>

  <br>

  <button class="createchirp" style="margin-left:250px;">
    <a href="{% url 'chirper:create' %}">Create a Chirp</a>
  </button>

  <ul>
    <br>

    {% for chirp in parent_chirper_list %}
    <li><a href="{% url 'chirper:detail' chirp.id %}">
        {{ chirp.user.username|default:"deleted_user" }} -> {{ chirp.chirp_name }} -- Likes: {{ chirp.like_set.count }}</a></li>
        <p style="margin-left:600px;">{{ chirp.chirp_body }}</p>
        
    

        {% for reply in chirp.replies.all %}
        <li>{{ reply.user.username|default:"deleted_user" }} -> {{ reply.chirp_name }}</a></li>
        <p style="margin-left:600px;">{{ reply.chirp_body }}</p>

        
        
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}