{% extends "chirper/base.html" %}
{% block content %}
  <h1 class="text-2xl font-bold text-center text-blue-600">Welcome to Chirper!<br>Here are all of the chirps!</h1>

  <a class="bg-blue-700 text-gray-100 rounded px-2 py-2 w-1/2 hover:cursor-pointer hover:bg-blue-800 transition-colors text-center mt-10 text-2xl"
  href="{% url 'chirper:create' %}">Create a Chirp</a>
  <ul>
    {% for chirp in parent_chirper_list %}
    <li><a href="{% url 'chirper:detail' chirp.id %}">{{ chirp.chirp_name }}</a>
        {% for reply in chirp.replies.all %}
        <li>{{ reply.chirp_name }}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}