{% extends "chirper/base.html" %}
{% block content %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>


<br><br>

  <h2>Message Feed</h2>

  <br>

  <ul class="createbutton">
    <button class="createchirp">
      <a href="{% url 'chirper:create' %}">Create a Chirp</a>
    </button>
  </ul>

  <ul>
    <br>

    {% for chirp in parent_chirper_list %}
    <li><a href="{% url 'chirper:detail' chirp.id %}">
        {{ chirp.user.username|default:"deleted_user" }} -> {{ chirp.chirp_name }} -- Likes: {{ chirp.like_set.count }}</a>
        <p>{{ chirp.chirp_body }}</p></li>
        
    

        {% for reply in chirp.replies.all %}
        <li>{{ reply.user.username|default:"deleted_user" }} -> {{ reply.chirp_name }}</a>
        <p>{{ reply.chirp_body }}</p></li>

        
        
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}