{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Chirper</title>
  </head>
  <header class="bg-blue-800 text-gray-100 py-4">
    <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold">Chirper</h1>
    </div>
</header>

<main class="container mx-auto mt-5">
  {% block content %}
  <!-- Child template content inserted here -->
  {% endblock %}

</main>
<br><br><br><br>
<footer class="bg-blue-800 text-gray-100 py-4">
  <div class="container mx-auto text-center">
    <a href="{% url 'chirper:home' %}" class="text-3xl font-bold">Home</a>
  </div>
</footer>

</html>
